<html>
    <head>
        <title>Inserimento nome e congnome</title>
    </head>
    <body>
        <h1>Inserisci le credenziali di accesso<h1>
        <form method='GET' action='/visualizza'>
            <label for="nome">Nome:</label>
            <input type="text" name="nome">
            <label for="cognome">Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Inserisci">
        </form>
        <a href="/registra">Registrati
    </body>
</html>