<html>
    <head>
        <title>Inserimento nome e congnome</title>
    </head>
    <body>
        <h1>Crea le credenziali di accesso<h1>
        <form method='GET' action='/registrazione'>
            <label for="nome">Nome:</label>
            <input type="text" name="nome">
            <label for="cognome">Password:</label>
            <input type="password" name="password">
            <label for="sesso">Sesso</label>
            <input type="radio">M
            <input type="radio">F
            <input type="submit" value="Inserisci">
        </form>
    </body>
</html>